* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: black solid 1px; */
}

.body-wrapper {
    background: rgba(247, 186, 196, 0.863);
    text-align: center;
}
header {
    Padding: 2em 0;
    background:rgba(250, 128, 149, 0.863)
}
h1, h2 {
    padding: .5rem;
}
#womenInventorCard {
    margin:1em 30% 1.5em 30%;
    padding-bottom: 2rem;
    border: rgba(255, 255, 0, 0.397) solid 5px;
    outline:rgba(250, 128, 149, 0.863) solid 3px;
    border-radius: 8px;
   /* box-shadow: rgba(250, 128, 149, .95) 3px 2px 8px 0px; */
   box-shadow:  rgba(250, 128, 149, .95) 0px 30px 60px -12px inset,  rgba(250, 128, 149, .95) 0px 18px 36px -18px inset;
}
.inventor-name, 
.inventor-Invention {
    margin:.6em 0 ;  
}

footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
    background:rgba(250, 128, 149, 0.863)
}